/*stylesheet for website of Priya Govindasamy*/

#my{
zoom: 100%;
}

body {
  font-family: "Lora",verdana;
  background-color: #FBFAF1;
  font-size: medium;
  color: #22223B;
  margin: 0%;
}


.header {
  background-color: #5CA4A9;
  opacity: 0;
  background-size: 100%;
  padding-top:1%;
  opacity: 1;
  width: 100%;
  text-align: center;
  margin: 0%;
  margin-right:0%;
  margin-left:0%;
  margin-bottom: 1%;
}

.heading {
  font-size: 200%;
  color: #FBFAF1;
  /*text-shadow: 0 0 5px #fff,*/
}

.subheading{
  font-size: 1.3em;
}

.main_content{
  margin-left: 14%;
  margin-right:3%;
  margin-bottom:3%;
}


.about_me{
  margin-right: 20%;
}


.sidebar {
  position:fixed;
  height: 75%;
  padding: 0;
  margin-top: 11%;
  left: 2.5%;
}

.sidebar_box {
  background: #5CA4A9;
  padding: 10px;
  margin: 10px;
  text-align:center;
}

.sidebar_item{
  color: #FBFAF1;
}

a:link.sidebar_item { text-decoration: none; }
a:visited.sidebar_item { text-decoration: none; }
a:hover.sidebar_item { text-decoration: underline; }
a:active.sidebar_item { text-decoration: underline; }

.profile_pic {
  float: right;
  margin-right: 1%;
  height: 40%;
}

a{
  line-height: 2em;
  color: #22223B;
}

p{
  line-height: 1.5em; 
  padding-top: 0;
  padding-bottom: 0;  
  margin-top: 0;
  margin-bottom: 0;
  
}

.institute{
  font-size: 1.1em;
}
